<p>unidade-cadastrar works!</p>
<div>
    <label for="unidadeNome">Nome da Unidade:</label>
    <input id="unidadeNome" [(ngModel)]="unidadeNome" name="unidadeNome" />
  
    <label for="gestor">Gestor:</label>
    <select id="gestor" [(ngModel)]="gestorSelecionado" name="gestor">
      <option *ngFor="let usuario of usuariosgestor" [value]="usuario.usuarioID">{{usuario.nome}}</option>
    </select>
  
    <label for="tecnico">Técnico:</label>
    <select id="tecnico" [(ngModel)]="tecnicoSelecionado" name="tecnico">
      <option *ngFor="let usuario of usuariostecnico" [value]="usuario.usuarioID">{{usuario.nome}}</option>
    </select>
  
    <button (click)="cadastrarUnidade()">Cadastrar Unidade</button>
  </div>
  
  
  
