<table>
    <thead>
      <tr>
        <th>Unidade ID</th>
        <th>Nome</th>
        <th>Equipes</th>
        <th>Usuários</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unidade of unidades">
        <td>{{ unidade.unidadeID }}</td>
        <td>{{ unidade.nome }}</td>
        <td>
          <ul>
            <li *ngFor="let equipe of unidade.equipes">
              {{ equipe.EquipeID }} - {{ equipe.NomeEquipe }}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let usuario of unidade.usuarios">
              {{ usuario.usuarioID }} - {{ usuario.nomeUsuario }}<br>
              Email: {{ usuario.email }}<br>
              Telefone: {{ usuario.telefone }}<br>
              CPF: {{ usuario.cpf }}<br>
              Cargo: {{ usuario.cargo }}
            </li>
          </ul>
        </td>
        <td>
            <button (click)="editarUnidade(unidade.unidadeID)">Editar</button>
            <button (click)="deletarUnidade(unidade.unidadeID)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
