<p>Lista de Usuarios</p>

<table id="table">
    <tr>
      <th>#Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Cpf</th>
      <th>Cargo</th>
      <th>Equipe</th>
      <th>Epi</th>
  
    </tr>
    <tr *ngFor="let u of usuario">
      <td>{{ u.usuarioID }}</td>
      <td>{{ u.nome }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.telefone }}</td>
      <td>{{ u.cpf }}</td>
      <td>{{ u.cargo }}</td>
      <td>{{ u.equipe }}</td>
      <td><ul><li *ngFor="let epi of u.epis">{{ epi.descricao }}</li></ul></td>
      <td>
        <button (click)="editarUsuario(u.usuarioID)">Editar</button>
        <button (click)="deletarUsuario(u.usuarioID)">Deletar</button>
      </td>
    </tr>
  </table>